body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
    background-color: black
  }
  
  /* #container {
    height: 200px;
    width: 200px;
    background-color: rgb(249, 80, 212);
  } */
  
  /* #container.red {
    background-color: red;
  } */

  img {
    height: 0;
    width: 0;
  }

  button  {
    font-size: 15px;
    background-color: crimson;
    color: black;
    border: solid gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: flex;

  }

  h1  {
    font-size: 40px;
    border: solid gold;
    color: whitesmoke;
  }